
/node_modules
.DS_Store
out/
/src/dbs
_replicator/000005.ldb
_replicator/000006.log
_replicator/CURRENT
_replicator/LOCK
_replicator/LOG
_replicator/LOG.old
_replicator/MANIFEST-000004
_users/000005.ldb
_users/000006.log
_users/CURRENT
_users/LOCK
_users/LOG
_users/LOG.old
_users/MANIFEST-000004
log.txt
pouch__all_dbs__/000005.ldb
pouch__all_dbs__/000006.log
pouch__all_dbs__/CURRENT
pouch__all_dbs__/LOCK
pouch__all_dbs__/LOG
pouch__all_dbs__/LOG.old
pouch__all_dbs__/MANIFEST-000004
/pouch__all_dbs__
/_users
/_replicator
/activeTabs
/archivedTabs
config.json
